@model List<basket.Models.Product>

<h2>Списък с продукти</h2>

<table>
    <tr>
        <th>Име</th>
        <th>Цена</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price лв.</td>
        </tr>
    }
</table>
